

#map {
    position: flex; 
    height: 50rem; 
    width: auto;
}


body{
    position: static;
    background-color: rgb(0, 103, 71); 
}

.input-class {
    width: 25%;
    background: rgba(0, 0, 0, .5);
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 45px 20px 20px;
    border-bottom: 25px;
}

.input-class::placeholder{
    color: grey;
}

.menu-button{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
    right: 10px;
    top: 10px;
}

.menu-content ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.menu-content ul li a:hover{
    background-color: rgb(0, 103, 71);

}