

#header{
    position: sticky;
    top: 0;
    background-color: rgb(0, 103, 71);
}

#header form{
    position:flex;
}

#map {
    position:flex;
    height: 85vh;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    letter-spacing: .25rem;
    font-style:oblique;
}
body{
    position: static;
    background-color: rgb(0, 103, 71); 
}

.input-class {
    width: 27%;
    background: rgba(0, 0, 0, .5);
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    padding: 20px 45px 20px 20px;
    margin-bottom: 10px;
}

.input-class:hover {
    border-color: #fff;
    transition: .25s ease-in-out;
}

.input-class::placeholder{
    color: grey;
}

.menu-button{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 0px;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .2);
    z-index: 1;
    right: 10px;
    top: 10px;
}

.menu-content ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.menu-content ul li a:hover{
    background-color: rgb(0, 103, 71);

}

.map-button{
    height:40px;
    width: 40px;
    position:relative;
    top: 1vh;
    background-image: url(../Map_marker.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 103, 71);
    border: none;

}